{% extends 'news/base.html' %}
{% load hitcount_tags %}
{% load static %}

{% block title %}{{ news.title }}{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ news.title }}</h2>
                    <p class="text-muted">{{ news.publish_time }} | <i class="fa fa-eye"></i>
                        {% get_hit_count for news %} marta ko‘rilgan | Izohlar soni: {{ comment_count }}</p>
                    {% if news.image %}
                    <img src="{{ news.image.url }}" alt="{{ news.title }}" class="card-img-top" style="max-height: 400px; object-fit: cover;">
                    {% else %}
                    <img src="{% static 'img/default.jpg' %}" alt="Default image" class="card-img-top" style="max-height: 400px; object-fit: cover;">
                    {% endif %}
                    <p class="card-text">{{ news.body|linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
    {% if request.user.is_authenticated and request.user.is_superuser %}
<div class="card-footer text-center">
    <a href="{% url 'news_update' news.slug %}" class="btn btn-warning btn-sm mx-1">Tahrirlash</a>
    <a href="{% url 'news_delete' news.slug %}" class="btn btn-danger btn-sm mx-1">O'chirish</a>
</div>
    {% endif %} <br>
<h3>Bu kommentga {{ comment_count }} ta izoh qoldirilgan</h3>
{% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <p class="mb-1">
                <strong>{{ comment.user }}</strong>
                <span class="text-muted small ms-2">
                    {{ comment.created_time|date:"d-m-Y H:i" }}
                </span>
            </p>
            <p class="card-text">
                {{ comment.body|linebreaks }}
            </p>
        </div>
    </div>
{% empty %}
    <p class="text-muted">Hozircha izohlar mavjud emas.</p>
{% endfor %}
{% if user.is_authenticated %}
<div class="col-md-8 mx-auto mt-4">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h4 class="card-title mb-3">💬 Izoh qoldiring</h4>

            <form method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}

                <button type="submit" class="btn btn-primary">
                    📩 Yuborish
                </button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="card-body">
    <p class="text-danger">Faqat ro'yxatdan o'tgan foydalanuvchilar izoh qoldirishi mumkin.</p>
    <p>Izoh qoldirish uchun quyidagi tugmalardan foydalaning:</p>
    <a href="{% url 'user_register' %}" class="btn btn-success me-2">Ro'yxatdan o'tish</a>
    <a href="{% url 'login' %}" class="btn btn-success">Saytga kirish</a>
</div>
{% endif %}
{% endblock content %}